.container
  .center
    .text-center
      %h4 Today
    .row
    .col-md-4
    .col-md-4
      - @standups.each do |standup|
        .panel.panel-default
          .panel-heading
            .text-center
              %b
              = User.find_by(user_id: standup.user_id).full_name
          .panel-body
            .text-center
              %b What I worked on yesterday:
              %br
              = standup.yesterday.gsub(/\n/, '<br>').html_safe
              %br
              %b What I am working on today:
              %br
              = standup.today.gsub(/\n/, '<br>').html_safe
              %br
              %b What is in my way:
              %br
              = standup.conflicts.gsub(/\n/, '<br>').html_safe
    .col-md-4
